html,body{
  width: 100;
  height: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* CSS DA NAV BAR */

nav {
  font-family: "Roboto Serif", serif; 
  background-color: white;
  display: flex;
  align-items: center; 
}

#logo img {
  max-width: 106px;
  max-height: 117px;
}

#navbar {
  flex: 1; 
  border-bottom: 2px solid #000;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  font-size: 25px;
  margin-top: 40px;
  font-family: "Roboto Serif", serif; 
}

ul li a {
  margin: 0 35px;
  color: black;
  text-decoration: none;
}

#imagens-da-nav {
  top: 40px;
  right: 10px;
  display: flex;
  gap: 20px;
  position: absolute;
}

ul img {
  max-width: 50px;
  max-height: 50px;
}

/* CSS DO COLETIVO */

#coletivo {
  background-color: #9a181c;
  color: #f9f9f9;
}

#Titulo-Coletivo {
  font-size: 40px;
  font-weight: 400;
  padding-top: 40px;
  padding-left: 40px;
  font-family: "Roboto Serif", serif;
}

#texto-coletivo {
  text-align: justify;
  font-size: 20px;
  padding: 40px;
  font-family: "Roboto Serif", serif;
}

#imagem-coletivo img {
  width: 100%;
  height: 100%;
}

/* CSS DA TELA HISTÓRIA */

#historia{
  background-color: #D9D9D9;
  color: black;
}

#Titulo-historia{
  font-size: 36px;
  font-weight: 400;
  padding-top: 120px;
  padding-left: 120px;
  font-family: "Roboto Serif", serif;
}

#texto-historia{
  text-align: justify;
  font-size: 20px;
  padding: 120px;
  font-family: "Roboto Serif", serif;
}

#carrossel-historia{
  position: relative;
  overflow: hidden;
  margin-top: 140px;
  width: 820px;
  height: auto;
}

#carrossel-historia2{
  position: relative;
  overflow: hidden;
  margin-top: 140px;
  width: 820px;
  height: auto;
  margin-left: 120px;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease;
}

.carrossel2 {
  display: flex;
  transition: transform 0.5s ease;
}

.carrossel img {
  width: 100%;
  height: auto;
}

.carrossel2 img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* CSS DA TELA APOIE A USINA */

#container-apoie {
  background-color: #9a181c;
  text-align: center;
  color: white;
  display: flex;
}

#titulo-apoie {
  margin-top: 6%;
  text-size-adjust: 10;
  font-size: x-large;
}

.texto-apoie {
  margin-top: 11%;
  font-size: large;
}

#botao-apoie {
  margin-top: 3%;
  background-color: #69a625;
  width: 30%;
  height: 30px;
  border-radius: 5px;
  color: #ececec;
}

#imagem-apoie {
  right: 0px;
}

#imagem-apoie img {
  height: 630
}

/* CSS DA TELA LOJA */

#eventos {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/logoFundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-evento {
  font-family: "Roboto", sans-serif;
  text-align: center;
  max-width: 900px;
}

#titulo-evento {
  font-family: "Roboto", sans-serif;
  margin-top: -200px;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.evento-grid {
  font-family: "Roboto", sans-serif;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card-evento {
  font-family: "Roboto", sans-serif;
  margin-top: 100px;
  background-color: #3a90c3cc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 500px;
  position: relative;
}

.data-evento {
  font-family: "Roboto", sans-serif;
  background-color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
}

#img-evento {
  width: 100%;
  border-radius: 8px;
  margin-top: 40px;
}

#titulo-h2-evento {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  margin-top: 10px;
}

.descricao-evento {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-top: 5px;
}

.informacoes-adicionais {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  color: #333;
  margin-top: 5px;
}

/* CSS DA TELA NOTICIAS */

/* Fundo da seção de notícias */
#noticias-section {
  background-color: #9A181C;
  color: white;
}

/* Título principal */
#noticias-section h1 {
  font-size: 3rem;
  font-family: "Roboto Serif", serif;
}

/* Estilização dos cards */
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  color: #333333;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Títulos dos cards */
.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Roboto Serif", serif;
  color: #9A181C;
}

/* Texto dos cards */
.card-text {
  font-size: 1rem;
  text-align: justify;
  flex-grow: 1;
  font-family: "Roboto Serif", serif;
}

/* Botões */
.btn-primary {
  background-color: #9A181C;
  border: none;
}

.btn-primary:hover {
  background-color: #d31f26;
}

/* Responsividade adicional */
@media (max-width: 768px) {
  #noticias-section h1 {
    font-size: 2.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 0.95rem;
  }
}



/* CSS DA TELA LOJA */

#body-loja {
  background-color: #ececec;
}

#background-tela-loja {
  background-color: #ececec;
}

#header-loja {
  background-color: white;
}

.container#container-loja {
  display: flex;
  padding: 10%;
}

#borda-loja {
  border: 2px solid black;
  margin: 4px;
  padding: 4px;
  text-align: center;
  flex-direction: row;
}

/* CSS DA TELA FALE CONOSCO, LOGIN E CADESTRE-SE */
#fale-conosco,
#login {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(rgba(0, 128, 0, 0.3), rgba(0, 128, 0, 0.3)),
    url("../images/fundo.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

#titulo {
  margin-top: 150px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  padding: 10px;
  color: #ececec;
  background-color: #6aa62591;
  border-radius: 10px;
}

#nome_input {
  height: 40px;
  width: 350px;
  align-items: center;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #ececec;
  border: none;
  outline: none;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

#nome_input::placeholder {
  color: #04040480;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  transition: 0.2s;
}

#email_input {
  height: 40px;
  width: 350px;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ececec;
  border: none;
  outline: none;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

#email_input::placeholder {
  color: #04040480;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  transition: 0.2s;
}

#mensagem_input {
  height: 200px;
  width: 350px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ececec;
  border: none;
  outline: none;
  padding: 15px;
  padding-bottom: 175px;
  font-family: "Roboto", sans-serif;
}

#mensagem_input::placeholder {
  color: #04040480;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  transition: 0.2s;
}

#senha_input,
#confirmar_senha_input {
  height: 40px;
  width: 350px;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #ececec;
  border: none;
  outline: none;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}

#senha_input::placeholder,
#confirmar_senha_input::placeholder {
  color: #04040480;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  transition: 0.2s;
}

#telefone,
#nao_e_cadastrado,
#ja_e_cadastrado {
  margin-top: 10px;
  display: inline-block;
  background-color: #6aa62591;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  color: #ececec;
}

.container-telefone,
.container_cadastro,
.container-login {
  text-align: center;
  padding: 10px;
}

.btn {
  margin-top: 15px;
  height: 35px;
  width: 85px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  background-color: #69a625;
  font-weight: bold;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #ececec;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #6fb42e;
  transition: 0.3s;
}

#cadastre_se_agora,
#faca_o_login {
  color: #62b0e8;
  text-decoration: underline;
  transition: 0.3s;
}

#cadastre_se_agora:hover,
#faca_o_login:hover {
  color: #8fd7f8;
  transition: 0.3s;
}
