#coletivo {
    background-color: #9a181c;
    color: #f9f9f9;
  }
  
  #Titulo-Coletivo {
    font-size: 40px;
    font-weight: 400;
    padding-top: 40px;
    padding-left: 40px;
    font-family: "Roboto Serif", serif;
  }
  
  #texto-coletivo {
    text-align: justify;
    font-size: 20px;
    padding: 40px;
    font-family: "Roboto Serif", serif;
  }
  
  
  #imagem-coletivo img {
    width: 100%;
    height: auto; 
    display: block;
  }
  
  
  @media (max-width: 768px) {
    #Titulo-Coletivo {
      font-size: 32px; 
      padding-left: 20px;
    }
  
    #texto-coletivo {
      font-size: 18px; 
      padding: 20px; 
    }
  }
  
  @media (max-width: 576px) {
    #Titulo-Coletivo {
      font-size: 28px; 
      padding-left: 10px;
    }
  
    #texto-coletivo {
      font-size: 16px; 
      padding: 10px;
    }
  }